.display {
    width: 213px;
    height: 160px;
    background-color: #12120e;
    color: #4aff45;
    user-select: none;
    border: #b0a687 solid 5px;
    border-radius: 10px;
}

.content {
    display: grid;
    padding: 0;
}

.one-by-two {
    grid-template-areas:
            "m1"
            "m2";
    grid-template-columns: 1fr;
    
}

.two-by-two {
    grid-template-areas:
            "m1 m2"
            "m3 m4";
    grid-template-columns: 1fr 1fr;
    
}

.two-then-one {
    grid-template-areas:
            "m1 m2"
            "m3 m3";
    grid-template-columns: 1fr 1fr;
}

.one-then-two {
    grid-template-areas:
            "m1 m1"
            "m2 m3";
    grid-template-columns: 1fr 1fr;
}

.title {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
}