.switch {
    position: relative;
    width: 56px;
    height: 75px;
    user-select: none;
}

.switch span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    margin: 8px 0 0 -8px;
    text-align: center;
    transform: rotate(var(--a)) translateY(-45px) rotate(calc(var(--a) * -1));
}

    .switch span.on {
        font-weight: bold;
        color: #d33;
    }

.knob {
    position: absolute;
    left: 0;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    border: 3px solid #333;
    cursor: pointer;
    transition: transform .2s;
}

    .knob::after {
        content: "";
        position: absolute;
        left: 23px;
        top: 0;
        width: 4px;
        height: 20px;
        background: #333;
    }
