.switch {
    position: relative;
    width: 46px;
    height: 70px;
    user-select: none;
}

.switch span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    margin: 10px 0 0 -8px;
    text-align: center;
    transform: rotate(var(--a)) translateY(-45px) rotate(calc(var(--a) * -1));
    white-space: nowrap;
}

    .switch span.on {
        font-weight: bold;
    }

.knob {
    position: absolute;
    left: 0;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    border: 3px solid #333;
    cursor: pointer;
    transition: transform .2s;
}

    .knob::after {
        content: "";
        position: absolute;
        left: 18px;
        top: 0;
        width: 4px;
        height: 20px;
        background: #333;
    }

.label {
    background: white;
    font-size: 0.6rem;
    text-align: center;
    padding: 0 2px;
    font-weight: 600;
    user-select: none;
}
