.frame {
    box-sizing: border-box;
    aspect-ratio: 1;
    
    width: 160px;
    height: 62px;
    background-color: #58533e;
    border: 2px solid #756f51;
    border-bottom-color: #1f1c15;
    border-left-color: #1f1c15;
    box-shadow: rgb(50 50 50 / 0.65) 0 3px 3px 1px;
    
    cursor: pointer;
}

.keyboard {
    --cols: 13;
    display: grid;
    margin-top: 7px;
    margin-left: 8px;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-rows: 9px;
    gap: 2px;
    width: 3px;
    height: 3px;
}
.keyboard > div {
    aspect-ratio: 1;
    background: #d7d0ab;
    width: 9px;
}