.notifications {
    position: fixed;
    top: 0;
    right: 0;
}

.notification {
    width: 500px;
    height: 100px;
    display: block;
    background-color: #000000AA;
    border: 1px solid #FFF;
    color: #fff;
    margin: 10px;
    transition: all 0.3s ease;
}

.notification .data {
    height: 100%;
    border-left: 11px solid #ff4741;
    padding-left: 10px;
}

.notification h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}

.notification p {
    font-size: 1.2rem;
    margin: 0;
    color: #CCC;
}