.relief-valves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.cr {
    display: inline-block;
    background-color: #cbc4a6;
    padding: 10px;
}

h2 {
    text-transform: uppercase;
    margin: 0;
}

.overview {
    background-color: #1f1f17;
    color: #fffbe1;
    padding: 10px;
    border: 10px solid #bab183;
}