.relief-valves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.cr {
    display: inline-block;
    background-color: #cbc4a6;
    padding: 10px;
    height: 340px;
}

h2 {
    text-transform: uppercase;
    margin: 0;
}

.overview {
    background-color: #1f1f17;
    color: #fffbe1;
    padding: 10px;
    border: 10px solid #bab183;
}

.turbine-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    row-gap: 0;
}

.turbine-controls ::deep > :last-child {
    grid-column: 1 / -1;
    justify-self: center;
}

.ignition-controls {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}